body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #242222; /* Color de letra */
  background-color: #ecf0b4; /* Color de fondo */
}

a {
  color: #0e4bc4;
  text-decoration: none;
}

a:hover {
  color: #9b1224;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%; /* Ajustar al tamaño del contenedor */
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Variables CSS */
:root {
  --primary-color: #03060c; /* Color primario */
  --secondary-color: #b82626; /* Color secundario */
  --font-size: 16px; /* Tamaño de letra */
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}
